<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/aero-action.png">
    <link rel="stylesheet" href="../css/style.css">
    <title>Aerowellness</title>
</head>

<body>

    <div id="servicios-grid">

        <header class="cabecera">

            <nav class="menu">

                <a href="index.html">
                    <img src="../img/logo-trans.png">
                </a>
                <ul>
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="soy.html">Soy</a></li>
                    <li><a href="servicios.html">Servicios</a></li>
                    <li><a href="ubicacion.html">Ubicación</a></li>
                    <li><a href="contacto.html">Contacto</a></li>
                </ul>
            </nav>

        </header>

        <main class="main">

            <div class="texto-titulo">
                <H1>Servicios</H1>
                <p class="sub-titulo">Puedes acceder a los siguientes servicios que se presentan a continuación.</p>
            </div> <br>

        </main>


        <aside class="foto-aero_acro">
            <div class="borde-foto">
                <img src="../img/aero_acro.jpg">
            </div>
        </aside>

        <section class="pack1">
            <p class="text-parrafo">Pack básico: Consiste en 4 clases al mes, especial para dar inicio a tu
                entrenamiento en esta disciplina.
                La familiarización con el columpio, con tu cuerpo en suspensión, ejercicios para principiantes, dando
                confianza para que te sientas a gusto
                y puedas disfrutar de ellas.
                Precio: $20000</p>

        </section>

        <aside class="foto-equilibrio">
            <div class="borde-foto">
                <img src="../img/equilibrio.jpg">
            </div>
        </aside>

        <section class="pack2">
            <p class="text-parrafo">Pack Intermedio: Consiste en 8 clases al mes indicado para quienes desean avanzar en
                su práctica.
                Se dan inicio a las acrobacias, paso a paso se va
                integrando ejercicios de fuerza, funcionales, pilates
                y se finaliza con la relajación.
                Precio: $30000</p>

        </section>

        <aside class="foto-fuerza">
            <div class="borde-foto">
                <img src="../img/fuerza.jpg">
            </div>
        </aside>

        <section class="pack3">
            <p class="text-parrafo">Pack Full: Consiste en 12 clases al mes, en las cuales los ejercicios van siendo más
                variados incluyendo de las ya mencionadas ejercicios de Trx. Ideales para quienes ya tienen la
                experiencia
                adquirida en el nivel intermedio, todas las clases incluyen al término de la hora la relajación.
                Precio: $40000 </p>
        </section>

        <footer id="pie" class="text-center pie">

            <h2 class="text-footer">Sígueme en redes sociales</h2>
            <a href="https://www.facebook.com" target="_blank">
                <img src="../img/facebook.png" alt="Sígueme en facebook">
            </a>

            <a href="https://www.twitter.com/" target="_blank">
                <img src="../img/twitter.png" alt="Sígueme en twitter">
            </a>

            <div class="text-footer">
                <h4>Prueba una clase gratis al +56977700942</h4>
            </div>

        </footer>
    </div>


</body>

</html>